.expensive-btn {
    margin-right: 1em;
    float: right;
}

.buttons {
    float: right;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 0;
}

.filters-title {
    font-size: 18px;
}