img {
    max-width: 100%;
}

::ng-deep #toast-container>div {
    width: 350px;
}

.container {
    position: relative;
}

.stars {
    font-size: 22px;
    color: gold;
}

.price {
    background-color: rgb(17, 202, 41);
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 3px;
    border-radius: 10px;
    max-width: 200px;
}

.details {
    padding-top: 2em;
    position: absolute;
    bottom: 0;
}