.btn {
    min-width: 50px;
}

.price-tag {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 2px;
    font-size: 20px;
    float: right;
    color: #383d46;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.text-container {
    padding: 20px;
    background: #ececec;
    border-radius: 20px;
}

.card-title {
    background-color: #383d46;
    padding: 5px;
    font-size: 20px;
    color: white;
}

.open-btn {
    margin-top: 1rem;
}

.right-side {
    text-align: end;

    .btn {
        margin: 5px;
    }
}