.btn {
    min-width: 100px;
}

.price-tag {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 2px;
    font-size: 20px;
    float: right;
    color: #383d46;
}

.card-text {
    background: #ececec;
    padding: 20px;
    border-radius: 20px;
}

.card-title {
    background-color: #383d46;
    padding: 5px;
    font-size: 20px;
    color: white;
}