app-product-list-item {
    padding: 5px;
}

.filter {
    text-align: end;

    button {
        padding: 10px;
        margin: 10px;
    }
}

label {
    width: 100px;
    font-weight: 600;
}

.ng-valid[required],
.ng-valid[min],
.ng-valid.required,
.ng-valid.min {
    border: 1px solid gray;
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
    border: 1px solid gray;
    border-left: 5px solid #a94442;
}

input,
textarea {
    box-sizing: border-box;
    width: 100%;
    padding: .5rem;
}