<div class="card">
    <img class="card-img-top" src="{{item.imageUrl}}" alt="Image of {{item.title}}">
    <h5 class="card-title">{{item.title}}
        <span class="price-tag">&#8364;{{item.price}}</span></h5>
    <div class="card-body">
        <h6>Category: {{item.category}}, size: {{item.size}}</h6>
        <p class="card-text">{{ (item.description.length > descriptionLength) ? (item.description | slice:0:descriptionLength) + '..' : (item.description) }}
        </p>
        <div style="display: inline;">
            <a href="#" class="btn btn-primary stretched-link open-btn">Open</a>
            <a href="#" class="btn btn-warning add-to-cart-btn">Add to cart</a>
        </div>
    </div>
</div>