<div class="container pt-4">
    <h4 class="text-center"> {{ item?.title }} </h4>
    <div class="row pt-4">
        <div class="col-sm">
            <img src="{{item?.imageUrl}}">
        </div>
        <div class="col-sm">
            <div class="row">
                Price: {{ item?.price }}
            </div>
            <div class="row">
                Category: {{ item?.category }}
            </div>
            <div class="row">
                Size: {{ item?.size }}
                <div class="row">
                    {{ item?.description }}
                </div>
            </div>
            <button class="btn btn-warning add-to-cart-btn" (click)="addToCart()"> <i class="fas fa-cart-plus"></i> Add to cart</button>
        </div>
    </div>


</div>