<ng-template #modal>
    <div class="modal-header">
        <h5 class="modal-title">{{ modalConfig.modalTitle }}</h5>
    </div>
    <div class="modal-body">
        <ng-content></ng-content>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="confirm()" *ngIf="modalConfig.hideSaveButton === undefined || !modalConfig.hideSaveButton()" [disabled]="modalConfig.disableSaveButton !== undefined && modalConfig.disableSaveButton()">
        {{ modalConfig.saveButtonLabel || "Save"}}
      </button>
        <button type="button" class="btn btn-outline-secondary" (click)="close()" *ngIf="modalConfig.hideCloseButton === undefined || !modalConfig.hideCloseButton()" [disabled]="modalConfig.disableCloseButton !== undefined && modalConfig.disableCloseButton()">
        {{ modalConfig.closeButtonLabel || "Close"}}
      </button>
    </div>
</ng-template>